[submodule "tools"]
	path = tools
	url = git@github.com:CodeJediTeam/Babylon-tools.git
[submodule "modules/System"]
	path = modules/BabylonSystem
	url = git@github.com:CodeJediTeam/Babylon-modules-System.git
[submodule "modules/Common"]
	path = modules/BabylonCommon
	url = git@github.com:CodeJediTeam/Babylon-modules-Common.git
